# Python virtual environment
.venv/
venv/
env/

# Python cache files
__pycache__/
*.py[cod]

# Jupyter Notebook temporary files
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Python build files
build/
dist/
*.egg-info/

# Operating system files
.DS_Store
Thumbs.db